html, body {
    height: 100%;
    width: 100%;
}

.content {
    position:absolute;
    top:50%;
    margin:-130px 0 0 0px;
    width: 100%;
    height: 140px;
    text-align: center;
}

.success-image {
   width: 120px;
}

.prompt {
     margin-top: 20px;
     width: auto;
     font-size: 20px;
 }

@media (max-width: 640px) {
    .prompt {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        font-size: 20px;
        line-height: 25px;
    }
}